extends layout

block content
	h1 Dana's HandleBars Search Engine!
	form
		input#search-term(type='text')
		button#search-button(type='button')

	#results

	script#results-template(type='text/x-handlebars-template')
